.Button{
    border-radius: 10px !important;
    width: 120px;
    box-shadow: -2px 0px 20px -4px rgba(0, 0, 0, 0.75);
}
.navbar{
    margin-top: -12px;
    height: 90px;
    width: 1348px;
}
.Button{
    background-color:seashell;

}
.Button:hover{
    color: whitesmoke !important;
}